.input {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  width: -webkit-fill-available;
  height: 32px;
  padding: 0 8px;
  border: 1px solid var(--Base-700, #303239);

  color: #fff;

  border-radius: 8px;

  &__left_icon {
    width: fit-content;
  }

  &__field {
    flex: 1;
    padding: 0 8px;
    border: none;

    font-size: 14px;
    color: inherit;

    background: transparent;
    outline: none;
  }

  &__currency {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
  }

  &_disabled {
    opacity: 0.5;
    cursor: not-allowed;
    &:hover {
      cursor: not-allowed;
    }
  }

  &__error {
    position: absolute;
    bottom: -6px;
    left: 10px;

    padding: 0 2px;

    font-size: 13px;
    color: var(--red);

    background: #181818;
    border-radius: 4px;
    user-select: none;
  }
}

.is_error {
  border-color: var(--red);
  > * {
    color: var(--red);
  }
}
