.dialog-overlay {
  position: fixed;
  z-index: 50;
  inset: 0;

  &[data-state="open"] {
    animation: fade-in-0 200ms ease-in-out;
  }

  &[data-state="closed"] {
    animation: fade-out-0 200ms ease-in-out;
  }
}

.dialog-content {
  position: fixed;
  z-index: 50;
  top: 20svh;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  height: 75svh;
  padding: 15px;
  border: 1px solid var(--border);

  background: #000000;
  overflow-y: auto;
  overflow-x: hidden;
  //width: 100%;
  flex-direction: column;
  gap: 16px;
  transition-duration: 200ms;

  @media (min-width: 640px) {
    max-width: 24rem;
    height: auto;
    border-radius: 8px;
  }
}

.dialog-close {
  position: fixed;
  top: 15svh;
  right: 16px;

  background-color: #000000;

  opacity: 0.7;
  transition: opacity 0.2s;
  border-radius: 4px;

  &:hover {
    opacity: 1;
  }

  &:focus {
    outline: none;
    //ring: 2px solid var(--ring);
    //ring-offset: 2px;
  }
}

.dialog-header {
  display: flex;

  text-align: left;
  flex-direction: column;
}

.dialog-footer {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  flex-direction: column;
  gap: 12px;

  @media (min-width: 640px) {
    flex-grow: 0;
  }
}

.dialog-title {
  line-height: 1.75rem;
}

.dialog-description {
  font-size: 0.875rem;
}
